* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.frame {
    width: 345px;
    background-color: hsl(216, 50%, 16%);
    margin: 10rem auto;
    border-radius: 15px;
    padding: 1.5rem;
    color:hsl(0, 0%, 100%);
}

.art {
    width: 100%;
    border-radius: 10px;
}

.heading {
    padding: 1rem 0;
    font-weight: 400;
}

.info {
    font-weight: 200;
    color: hsl(215, 51%, 70%);
    margin-bottom: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
.attribution a {
    color: hsl(178, 100%, 50%);
}
