body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;

}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
.attribution a {
    color: hsl(178, 100%, 50%);
}